/*  your css code here. If applicable */
.main {
width: 200px;
background-color: purple;
border-left: 5px solid green;
padding: 10px;
}

.heading {
font-size: 20px;
color: white;
text-decoration: underline;
}